doctype html
html(lang= locale)
  head
    title= title
    link(rel="stylesheet", media="screen", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  body
    div#main.container
    script(src="/bundle/egghead.js")